<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Simbed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SimbedEnvision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <Simbed.Properties.Settings>
            <setting name="IPYWIN_VISIBLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BLOCKSET_PATH" serializeAs="String">
                <value>./Blocks/</value>
            </setting>
            <setting name="CSS_STYLE_SHEET" serializeAs="String">
                <value>./core/style.css</value>
            </setting>
            <setting name="APP_CORE_DIR" serializeAs="String">
                <value>./core</value>
            </setting>
            <setting name="USER_BLOCKSET_DIR" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="USER_BLOCKSET_FILE" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="LAST_SBED_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="OPEN_LAST_FILE" serializeAs="String">
                <value>True</value>
            </setting>
        </Simbed.Properties.Settings>
        <SimbedEnvision.Properties.Settings>
            <setting name="IPYWIN_VISIBLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BLOCKSET_PATH" serializeAs="String">
                <value>./Blocks/</value>
            </setting>
        </SimbedEnvision.Properties.Settings>
    </userSettings>
</configuration>
